.detail-container{
    margin: auto;
    margin-top: 30px;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
}

.detail-img{
    width: 500px;
    height: 400px;
}

.detail-img > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.detail-body{
    border: 1px solid rgb(240, 240, 240);
    border-radius: 10px;
    width: 45%;
    min-width: 370px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.detail-price{
    font-weight: 300;
    font-size: 25px;
}

.detail-name{
    font-weight: 500;
}

.detail-description{
    line-height: 25px;
    font-style: italic;
}

@media (max-width: 768px){
    .detail-container{
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .detail-img{
        width: 90%;
        height: 300px;
    }

    .detail-body{
        width: 90%;
        min-width: 100px;
    }
}

