.cartTotal-container{
    background-color: #fff;
    border: 1px solid rgb(240, 240, 240);
    width: 30%;
    height: 310px;
    margin: 10px 0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.cartTotal-btns, .cartTotal-amount{
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cartTotal-subtotal, .cartTotal-total{
    display: flex;
    justify-content: space-between;
}

.cartTotal-total{
    font-weight: 600;
    font-size: 20px;
}

@media (max-width:900px){
    .cartTotal-container{
        width: 100%;
    }
    .cartTotal-subtotal, .cartTotal-total{
        justify-content: space-around;
    }

    .cartTotal-btns{
        align-self: center;

    }
}
