.form-container{
    background-color: #fff;
    padding: 30px 20px;
    border-radius: 10px;
    width: 60%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 450px;
}



