.menu{
    background-color: var(--menu-bg-color);
    border-bottom: 1px solid rgb(207, 207, 207);
}

.menuContainer{
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    gap: 10px;
    align-items: center;
}

.logoImg{
    width: 40px;
    height: 40px;
    animation: giro 5s ease-in-out 5s infinite alternate;
}

@keyframes giro{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-60deg);
    }
    
}

.logoName{
    text-decoration: none;
    color: var(--white-color);
    font-weight: 500;
    letter-spacing: 2px;
}