.cartItem-container{
    width: 100%;
    height: 150px;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid #eee;
}

.cartItem-imgContainer{

    height: 100%;
    width: 200px;
    padding: 10px;
}

.cartItem-img{
    height: 100%;
    width: 100%;
    object-fit: scale-down;
}