.cartItem-container{
    width: 90%;
    height: 150px;
    margin: auto;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid #eee;
}

.cartItem-imgContainer{

    height: 100%;
    width: 200px;
    padding: 10px;
}

.cartItem-img{
    height: 100%;
    width: 100%;
    object-fit: scale-down;
}

.cartItem-btnDelete{
    cursor: pointer;
    border: none;
    background-color: inherit;
    color: var(--menuItems-bg-color);
}

.cartItem-btnDelete:hover{
    text-decoration: underline;
}