.itemContainer{
    width: 200px;
    height: 200px;
    margin: auto;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.itemAmount{
    width: 100%;
    display: flex;
    justify-content: center;
}

.itemAmount span{
    width: 60px;
    text-align: center;
    background-color: #fff;
}

.itemBtn{
    width: 20px;
}